.main{
    text-align: center;
    width: auto;
    margin: 100px;
}
.valuebox{
    padding: 10px;
    width: 500px;
    box-shadow: 4px 4px 12px gray;
    border: 1px solid rgb(250, 124, 5);
    border-radius: 5px;
}
.type{
    padding: 10px;
    border-radius: 7px;
    width: 70px;
    background-color: rgb(250, 124, 5);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.cards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
}
.img{
    width: 256px;
    border-radius: 10px;
}
.items{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 10px gray;
    color:  rgb(250, 124, 5);
}
.single{
    width: auto;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    
}
.imgs{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px gray;
}
.scard{ 
    border-radius: 10px;
    width: 350px;
    height:500px;
    border: none;
    box-shadow: 4px 5px 10px gray;
    padding: 20px;
}
.nd{
    padding-left: 15px;
    
    
}